html,
body {
    height: 100%;
    background: white;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.words {
    &:empty::before {
        content: '';
        display: inline-block;
        width: 2em;
        height: 2em;
        border: 2px solid rebeccapurple;
        border-right-color: transparent;
        border-radius: 50%;
        margin: auto;
        animation: loading 1s linear infinite;
    }
    &:not(:empty)::after {
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        width: 0.6em;
        height: 3px;
        background: currentColor;
    }
    &.waiting::after {
        animation: cursor 1s steps(1) infinite;
    }
}

@media (prefers-color-scheme: dark) {
    html,
    .words:empty::before {
        filter: invert(1);
    }
}

@keyframes loading {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes cursor {
    0%,
    100% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
}
